/* Estilos generales */
body {
  background-image: url(/images/boat-7717972_1280.jpg);
  background-size: cover;
  font-family: Arial, sans-serif;
  background-position: center;
  color: #ffffff;
  background-color: Beige (#F3EFEF);
}

/* Estilos de los botones */
button {
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 5% 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  margin: 2% 1%;
  cursor: pointer;
  border-radius: 10%;
  box-shadow: 0 5% 8% 0 rgba(0, 0, 0, 0.24), 0 10% 15% 0 rgba(0, 0, 0, 0.19);
}

button:hover {
  background-color: #f1b100;
}

/* Estilos del menú de navegación */
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: auto;
  color: #fff;
}

nav li {
  margin-right: 10%;
}

nav a {
  color: #fff;
  padding: 15%;
  text-decoration: none;
}

nav a:hover {
  color: #ccc;
}

/* Estilos del banner */
#banner {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#banner h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

main h2 {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 800;
  text-shadow: 2px 5px #000;
  text-align: center;
}

/* Estilos del servicio */
#services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 30%;
  margin-top: -5%
}

.service {
  width: 20%;
  margin: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service h3 {
  color: #000000;
  font-weight: bold;
  margin-top: 0;
}

.service-info {
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  padding: 4%;
}

#service-info-detail {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 2%;
}